<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>One Page Resume</title>

    <style type="text/css">
        * { margin: 0; padding: 0; }
        body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        p.interest { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
    </style>
</head>

<body>

<div id="page-wrap">

    <div id="contact-info" class="vcard">

        <!-- Microformats! -->
        <br>
        <h1 class="fn">{{ app.user.firstName }} {{ app.user.lastName }}</h1>

        <p>
            Tel: <span class="tel">{{ app.user.phone }}</span><br />
            Email: <span class="email" >{{ app.user.email }}</span><br>
            Address: <span>{{ app.user.city }}, {{ app.user.country }}</span>
        </p>
    </div>

    <div class="clear"></div>

    <dl>
        <dd class="clear"></dd>

        <dt>Education</dt>
        <dd>
            {% for qualification in app.user.qualifications %}
            <h2>{{ qualification.name }} - {{ qualification.startDate|date('Y-m-d') }} - {{ qualification.endDate|date('Y-m-d') }}</h2>
            <p><strong>{{ qualification.type }}:</strong> {{ qualification.subject }} - {{ qualification.grade }}<br />
            {% endfor %}
        </dd>

        <dd class="clear"></dd>

        <dt>Skills</dt>
        <dd>
            {% for skills in app.user.skills %}
            <p>{{ skills.description }} - {{ skills.competency }}</p>
            {% endfor %}
        </dd>

        <dd class="clear"></dd>

        <dt>Experience</dt>
        <dd>
            {% for workhistory in app.user.workhistory %}
            <h2>{{ workhistory.name }} <span>{{ workhistory.jobTitle }} : {{ workhistory.startDate|date('Y-m-d') }} - {{ workhistory.endDate|date('Y-m-d') }}</span></h2>
            <ul>
                <li>{{ workhistory.responsibilities }}</li>
            </ul>
            {% endfor %}
        </dd>

        <dd class="clear"></dd>

        <dt>Interests</dt>
        {% for interest in app.user.interests %}
        <p class="interest">{{  interest.description }}</p>
        {% endfor %}

        <dd class="clear"></dd>

        <dt>References</dt>
        <dd>Available on request</dd>

        <dd class="clear"></dd>
    </dl>

    <div class="clear"></div>

</div>

</body>

</html>